/* Header */
.header-height-1 {
    min-height: auto;
}
.main-menu > nav > ul > li > ul.mega-menu-style {
    height: calc(100vh - 140px);
    overflow-y: auto;
}
.main-menu
    > nav
    > ul
    > li
    > ul.mega-menu-style
    > li
    > ul
    > div
    > div
    li
    > a.dropdown-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

.main-menu > nav > ul > li > ul li,
.main-menu > nav > ul > li > ul > div > div li {
    display: block;
    position: relative;
    line-height: 1;
    margin-bottom: 20px;
}

.main-menu > nav > ul > li > ul li:last-child,
.main-menu > nav > ul > li > ul > div > div li:last-child {
    margin-bottom: 0px;
}

.main-menu > nav > ul > li > ul li a,
.main-menu > nav > ul > li > ul > div > div li a {
    display: block;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}

.main-menu > nav > ul > li > ul li:hover > a,
.main-menu > nav > ul > li > ul > div > div li:hover > a {
    color: #e97730;
}
.main-menu > nav > ul > li > ul.mega-menu-style {
    width: 750px;
    padding: 28px 30px 10px;
    text-align: left;
}
.main-menu > nav > ul > li > ul.mega-menu-style.mega-menu-mrg-1 {
    margin-left: calc(50% - 38.5vw);
    margin-right: calc(50% - 50vw);
}
.main-menu > nav > ul > li > ul.mega-menu-style {
    width: calc(100vw - 7vw);
    min-height: 370px;
    max-height: 450px;
    height: auto;
    overflow-x: auto;
}
.main-menu > nav > ul > li > ul.mega-menu-style.mega-menu-mrg-1 {
    left: 0px;
}
/* Search */
.search-wrap-3 {
    position: relative;
    background-color: transparent;
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: visible;
    width: 340px;
    z-index: 1;
    padding-bottom: 1px;
    margin-right: 10px;
    left: 0px;
}
.search-wrap-3 div input {
    background-color: #fff;
    border: 1px solid #e2dcdc;
    color: #000000;
    line-height: 30px;
    padding: 5px 60px 5px 20px;
    width: 340px;
    border-radius: 50px;
}
@media only screen and (max-width: 765px) {
    .search-wrap-3 {
        width: 100%;
    }
    .search-wrap-3 div input {
        width: 100%;
    }
}
/* Select */
.form-control-select {
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 52px;
    line-height: 52px;
    color: #000000;
    line-height: 52px;
    padding-left: 16px;
    padding-right: 20px;
}
/* Error Page */
.error .clip .shadow {
    height: 180px; /*Contrall*/
}
.error .clip:nth-of-type(2) .shadow {
    width: 130px; /*Contrall play with javascript*/
}
.error .clip:nth-of-type(1) .shadow,
.error .clip:nth-of-type(3) .shadow {
    width: 250px; /*Contrall*/
}
.error .digit {
    width: 150px; /*Contrall*/
    height: 150px; /*Contrall*/
    line-height: 150px; /*Contrall*/
    font-size: 120px;
    font-weight: bold;
}
.error h2   /*Contrall*/ {
    font-size: 32px;
}
.small-text-cart {
    font-size: 22px !important;
}
.error .msg /*Contrall*/ {
    top: -190px;
    left: 30%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
}
.error span.triangle    /*Contrall*/ {
    top: 70%;
    right: 0%;
    border-left: 20px solid #535353;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.error .container-error-404 {
    /* margin-top: 10%; */
    position: relative;
    height: 250px;
    /* padding-top: 40px; */
}
.error .container-error-404-small {
    /* margin-top: 10%; */
    position: relative;
    height: 150px;
    /* padding-top: 40px; */
}
.error .container-error-404 .clip {
    display: inline-block;
    transform: skew(-45deg);
}
.error .clip .shadow {
    overflow: hidden;
}
.error .clip:nth-of-type(2) .shadow {
    overflow: hidden;
    position: relative;
    box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150, 0.8),
        20px 0px 20px -15px rgba(150, 150, 150, 0.8);
}

.error .clip:nth-of-type(3) .shadow:after,
.error .clip:nth-of-type(1) .shadow:after {
    content: "";
    position: absolute;
    right: -8px;
    bottom: 0px;
    z-index: 9999;
    height: 100%;
    width: 10px;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(173, 173, 173, 0.8),
        transparent
    );
    border-radius: 50%;
}
.error .clip:nth-of-type(3) .shadow:after {
    left: -8px;
}
.error .digit {
    position: relative;
    top: 8%;
    color: white;
    background: #e97730;
    border-radius: 50%;
    display: inline-block;
    transform: skew(45deg);
}
.error .clip:nth-of-type(2) .digit {
    left: -10%;
}
.error .clip:nth-of-type(1) .digit {
    right: -20%;
}
.error .clip:nth-of-type(3) .digit {
    left: -20%;
}
.error h2 {
    color: #a2a2a2;
    font-weight: bold;
    padding-bottom: 20px;
}
.error .msg {
    position: relative;
    z-index: 9999;
    display: block;
    background: #535353;
    color: #a2a2a2;
    border-radius: 50%;
    font-style: italic;
}
.error .triangle {
    position: absolute;
    z-index: 999;
    transform: rotate(45deg);
    content: "";
    width: 0;
    height: 0;
}

/* Error Page */
@media (max-width: 767px) {
    /* Error Page */
    .error .clip .shadow {
        height: 100px; /*Contrall*/
    }
    .error .clip:nth-of-type(2) .shadow {
        width: 80px; /*Contrall play with javascript*/
    }
    .error .clip:nth-of-type(1) .shadow,
    .error .clip:nth-of-type(3) .shadow {
        width: 100px; /*Contrall*/
    }
    .error .digit {
        width: 80px; /*Contrall*/
        height: 80px; /*Contrall*/
        line-height: 80px; /*Contrall*/
        font-size: 52px;
    }
    .error h2   /*Contrall*/ {
        font-size: 24px;
    }
    .error .msg /*Contrall*/ {
        top: -110px;
        left: 15%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .error span.triangle    /*Contrall*/ {
        top: 70%;
        right: -3%;
        border-left: 10px solid #535353;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
    .error .container-error-404 {
        height: 150px;
    }
    /* Error Page */
}

/*--------------------------------------------Framework --------------------------------*/

.overlay {
    position: relative;
    z-index: 20;
} /*done*/
.ground-color {
    background: white;
} /*done*/
.item-bg-color {
    background: #eaeaea;
} /*done*/

/* Padding Section*/
.padding-top {
    padding-top: 10px;
} /*done*/
.padding-bottom {
    padding-bottom: 10px;
} /*done*/
.padding-vertical {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-horizontal {
    padding-left: 10px;
    padding-right: 10px;
}
.padding-all {
    padding: 10px;
} /*done*/

.no-padding-left {
    padding-left: 0px;
} /*done*/
.no-padding-right {
    padding-right: 0px;
} /*done*/
.no-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}
.no-horizontal-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.no-padding {
    padding: 0px;
} /*done*/
/* Padding Section*/

/* Margin section */
.margin-top {
    margin-top: 10px;
} /*done*/
.margin-bottom {
    margin-bottom: 10px;
} /*done*/
.margin-right {
    margin-right: 10px;
} /*done*/
.margin-left {
    margin-left: 10px;
} /*done*/
.margin-horizontal {
    margin-left: 10px;
    margin-right: 10px;
} /*done*/
.margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
} /*done*/
.margin-all {
    margin: 10px;
} /*done*/
.no-margin {
    margin: 0px;
} /*done*/

.no-vertical-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}
.no-horizontal-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.inside-col-shrink {
    margin: 0px 20px;
} /*done - For the inside sections that has also Title section*/
/* Margin section */

hr {
    margin: 0px;
    padding: 0px;
    border-top: 1px dashed #999;
}
/*--------------------------------------------FrameWork------------------------*/
/* .search-wrap-1.open {
    opacity: 1;
    right: 100%;
    visibility: visible;
    z-index: 99;
    margin-left: calc(50% - 10vw);
    margin-right: calc(50% - 17vw);
    width: calc(100vw - 7vw);
    min-height: 450px;
    max-height: 450px;
    overflow-x: auto;
    height: auto;
    top: 1300%;
    background-color: #fff;
}
.form-search {
    width: 400px;
    box-shadow: 0 3px 20px rgb(193 193 193 / 28%);
    border-radius: 10px;
}
.search-wrap-1 form input {
    background-color: #fff;
    border: 0px solid rgb(195 195 195 / 20%);
    box-shadow: 0 3px 20px rgb(193 193 193 / 28%);
}
.search-wrap-1 div input {
    background-color: #fff;
    border: 0px solid #e2dcdc;
}
@media only screen and (max-width: 768px) {
    .search-wrap-1.open {
        margin-left: calc(50% - 10vw);
        margin-right: calc(50% - 27vw);
    }
    .search-wrap-1 form input {
        background-color: #fff;
        border: 0px solid rgb(195 195 195 / 20%);
    }
    .form-search {
        box-shadow: 0 3px 20px rgb(193 193 193 / 28%);
        border-radius: 10px;
    }
}
@media only screen and (max-width: 760px) {
    .search-wrap-1.open {
        opacity: 1;
        right: 100%;
        visibility: visible;
        z-index: 99;
        margin-left: calc(50% - 23vw);
        margin-right: calc(50% - 0vw);
        width: calc(100vw - 7vw);
        min-height: 450px;
        height: auto;
        top: 335%;
    }
    .form-search {
        width: 300px;
        box-shadow: 0 3px 20px rgb(193 193 193 / 28%);
        border-radius: 10px;
    }
    .search-wrap-1 form input {
        background-color: #fff;
        border: 0px solid rgb(195 195 195 / 20%);
    }
}
@media only screen and (max-width: 400px) {
    .search-wrap-1.open {
        opacity: 1;
        right: 100%;
        visibility: visible;
        z-index: 99;
        margin-left: calc(50% - 12vw);
        margin-right: calc(50% - 0vw);
        width: calc(100vw - 7vw);
        min-height: 450px;
        height: auto;
        top: 335%;
    }
}
@media only screen and (max-width: 375px) {
    .search-wrap-1.open {
        opacity: 1;
        right: 100%;
        visibility: visible;
        z-index: 99;
        margin-left: calc(50% - 15vw);
        margin-right: calc(50% - 0vw);
        width: calc(100vw - 7vw);
        min-height: 450px;
        height: auto;
        top: 335%;
    }
}

@media only screen and (max-width: 350px) {
    .search-wrap-1.open {
        opacity: 1;
        right: 100%;
        visibility: visible;
        z-index: 99;
        margin-left: calc(50% - 2vw);
        margin-right: calc(50% - 0vw);
        width: calc(100vw - 7vw);
        min-height: 450px;
        height: auto;
        top: 335%;
    }
} */
/* Toast */

.toast__container {
    display: table-cell;
    vertical-align: middle;
}

.toast__cell {
    display: inline-block;
}

.add-margin {
    margin-top: 20px;
}

.toast__svg {
    fill: #fff;
}

.toast {
    text-align: left;
    padding: 21px 0;
    background-color: #fff;
    border-radius: 4px;
    max-width: 500px;
    top: 0px;
    position: relative;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}

.toast:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.toast__icon {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    padding: 7px;
    border-radius: 50%;
    display: inline-block;
}

.toast__type {
    color: #3e3e3e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
}

.toast__content {
    padding-left: 70px;
    padding-right: 60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor: pointer;
    height: 14px;
    fill: #878787;
    transform: translateY(-50%);
}

.toast--green .toast__icon {
    background-color: #2bde3f;
}

.toast--green:before {
    background-color: #2bde3f;
}

.toast--blue .toast__icon {
    background-color: #1d72f3;
}

.toast--blue:before {
    background-color: #1d72f3;
}

.toast--yellow .toast__icon {
    background-color: #ffc007;
}

.toast--yellow:before {
    background-color: #ffc007;
}
/* Cambios en el dropbottom user */
.language-currency-wrap .currency-wrap {
    margin-right: 0px;
}
.language-currency-wrap .border-style::before {
    display: none;
}
.hover__orange:hover {
    color: #e97730;
}

@media only screen and (max-width: 765px) {
    .language-currency-wrap.language-currency-wrap-modify
        .currency-wrap
        .currency-dropdown,
    .language-currency-wrap.language-currency-wrap-modify
        .currency-wrap
        .language-dropdown,
    .language-currency-wrap.language-currency-wrap-modify
        .language-wrap
        .currency-dropdown,
    .language-currency-wrap.language-currency-wrap-modify
        .language-wrap
        .language-dropdown {
        width: 122px;
        margin-left: -20px;
    }
}

/* Productos */
.content__product {
    width: 100%;
    height: 300px;
}
@media only screen and (max-width: 991px) {
    .content__product {
        width: 100%;
        height: 230px;
    }
}
@media only screen and (max-width: 765px) {
    .content__product {
        width: 100%;
        height: 300px;
    }
}

.content__product__detail__small {
    width: 100%;
    height: 96px;
}
.content__product__detail {
    width: 100%;
    height: 522px;
}
.content__product__cart {
    width: 100%;
    height: 70px;
}
.content__product__cart2 {
    width: 100%;
    height: 98px;
}
.product-slider-active-1.swiper-container {
    padding: 90px 0 90px 0;
}
.img__cart {
    border-radius: 50%;
}
@media only screen and (max-width: 1024px) and (min-height: 1366px) {
    .content__product__detail {
        width: 100%;
        height: 400px;
    }
}
@media only screen and (max-width: 991px) {
    .content__product__detail {
        width: 100%;
        height: 650px;
    }
}
@media only screen and (max-width: 765px) {
    .content__product__detail {
        width: 100%;
        height: 300px;
    }
}
/* qtybutton */
.qtybutton {
    border: none;
    background: transparent;
    margin: 0px;
    padding: 0px;
    color: #8f8f8f;
}
.qtybutton:disabled {
    background-color: transparent;
    cursor: not-allowed !important;
}

/* Paginacion */
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #e97730;
    border-color: #e97730;
}
.page-link {
    position: relative;
    display: block;
    color: #e97730;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Menu user */
.language-currency-wrap.language-currency-wrap-modify
    .currency-wrap
    .currency-dropdown,
.language-currency-wrap.language-currency-wrap-modify
    .currency-wrap
    .language-dropdown,
.language-currency-wrap.language-currency-wrap-modify
    .language-wrap
    .currency-dropdown,
.language-currency-wrap.language-currency-wrap-modify
    .language-wrap
    .language-dropdown {
    width: 140px;
    left: -20px;
    margin-top: 5px;
    right: auto;
}

/* Checkbox Color */

.label-color {
    display: inline-block;
    margin: 0 calc(22px * 0.25);
    width: 22px;
    height: 22px;
    border: calc(22px * 0.125) solid #e97730;
    border-radius: 12.5%;
    -webkit-transition: 400ms 100ms ease-out;
    -o-transition: 400ms 100ms ease-out;
    transition: 400ms 100ms ease-out;
}

.label-color:hover {
    border-color: #e97730;
}

.check-color[type="checkbox"] {
    position: absolute;
    left: -1000px;
}
.check-color[type="radio"] {
    position: absolute;
    left: -1000px;
}

.tick {
    position: relative;
    right: calc(22px * -0.5);
    top: calc(22px * -0.25);
    width: calc(22px * 0.25);
    height: calc(22px * 0.75);
    border-right: calc(22px * 0.25) solid #e97730;
    border-bottom: calc(22px * 0.25) solid #e97730;
    -webkit-transform: rotate(45deg) scale(0);
    -ms-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
    -o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.tick:before {
    content: "";
    position: absolute;
    left: calc(22px * -0.125);
    bottom: calc(22px * -0.25);
    border: calc(22px * 0.125) solid #e97730;
    border-radius: 50%;
}

.tick:after {
    content: "";
    position: absolute;
    right: calc(22px * -0.25);
    top: calc(22px * -0.125);
    border: calc(22px * 0.125) solid #e97730;
    border-radius: 50%;
}

.check-color[type="checkbox"]:checked + .label-color .tick {
    opacity: 1;
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
}

.check-color[type="checkbox"]:focus + .label-color {
    -webkit-animation-name: cb-pop;
    animation-name: cb-pop;
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.check-color[type="radio"]:checked + .label-color .tick {
    opacity: 1;
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
}

.check-color[type="radio"]:focus + .label-color {
    -webkit-animation-name: cb-pop;
    animation-name: cb-pop;
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes cb-pop {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    33% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    66% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        tranform: scale(1);
    }
}

@keyframes cb-pop {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    33% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    66% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        tranform: scale(1);
    }
}
/* Product */
/* Botones */
.mercadopago-button {
    width: 100%;
}
button:disabled {
    background-color: rgb(78 78 78 / 30%);
    cursor: not-allowed !important;
}
.your-order-area .Place-order a:hover {
    color: #fff;
}
/* Centrar imagen */
.contenedor__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto__abajo {
    position: absolute;
    bottom: 8%;
}
.texto__abajo__delete {
    position: absolute;
    bottom: -9%;
    text-align: center;
}

/* Animaciones */
.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Cart */
.cart_anchor {
    float: right;
    vertical-align: top;
    background: url("../images/logo/logo.png") no-repeat center center / 100%
        auto;
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
}
.img__none {
    display: none;
}
.img__block {
    display: block;
}
.img-float {
    width: 10px;
    position: fixed;
    top: 0%;
    left: 20px;
    z-index: -1;
    transition: all 300ms ease 0ms;
}

/*Filter price */

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-price {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.price-title {
    position: relative;
    color: #494949;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
}

.price-field {
    position: relative;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    background: rgba(248, 247, 244, 0.2);
    padding-top: 15px;
    /* padding-left: 16px; */
    border-radius: 3px;
}

.price-field input[type="range"] {
    position: absolute;
}

/* Reset style for input range */

.price-field input[type="range"] {
    width: 100%;
    height: 2px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    -webkit-appearance: none;
}

.price-field input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.price-field input[type="range"]:active,
.price-field input[type="range"]:focus {
    outline: 0;
}

.price-field input[type="range"]::-ms-track {
    width: 188px;
    height: 2px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type="range"]::-webkit-slider-thumb {
    /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -4px;
    background-color: #494949;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type="range"]::-moz-range-thumb {
    /* Firefox */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #494949;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type="range"]::-ms-thumb {
    /* IE */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #494949;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

/* Style track input range */

.price-field input[type="range"]::-webkit-slider-runnable-track {
    /* WebKit/Blink */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #494949;
    border-radius: 5px;
}

.price-field input[type="range"]::-moz-range-track {
    /* Firefox */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #494949;
    border-radius: 5px;
}

.price-field input[type="range"]::-ms-track {
    /* IE */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #494949;
    border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
    display: flex;
    justify-content: center;
    color: #494949;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 7px;
}

.price-wrap-1,
.price-wrap-2 {
    display: flex;
}

.price-title {
    margin-right: 5px;
    background: #d58e32;
}

.price-wrap_line {
    margin: 0 10px;
}

.price-wrap #one,
.price-wrap #two {
    width: 30px;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    background: 0;
    border: 0;
    outline: 0;
    color: #494949;
    font-family: "Karla", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    margin-top: -6px;
}

.price-wrap label {
    text-align: right;
}

/* Style for active state input */

.price-field input[type="range"]:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #494949;
    transition-duration: 0.3s;
}

.price-field input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #494949;
    transition-duration: 0.3s;
}

/* Alerta */
.fixed {
    position: fixed;
}
.sm\:p-10 {
    padding: 2.5rem;
}
.z-100 {
    z-index: 100;
}
.pin-l {
    left: 0;
}
.pin-b {
    bottom: 0;
}
.shadow-md {
    -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%),
        0 2px 4px 0 rgb(0 0 0 / 8%);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 8%);
}
.bg-white {
    background-color: #fff;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.-mt-10 {
    margin-top: -4.5rem;
}
.relative {
    position: relative;
}
.w-16 {
    width: 6rem;
}
.w-full {
    width: 100%;
}
.sm\:w-48 {
    width: 16rem;
}
.text-grey-darkest {
    color: #3d4852;
}
.block {
    display: block;
}
.leading-normal {
    line-height: 1.5;
}
.text-xs {
    font-size: 0.75rem;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.bg-lf-teal {
    border: 0px;
    background-color: #0fccce;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.p-6 {
    padding: 1.5rem;
}
.mar-2 {
    margin-right: 0.9rem;
}
.-mt-alert {
    margin-top: -8.5rem;
}
.w-alert {
    width: 12rem;
}
/* Utilidades */
.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

.cl-danger {
    color: #ff6b6b;
}

.border-error {
    border: 1px solid #ff6b6b !important;
}
.border-0 {
    border: 0px;
}
.active-a {
    color: #e97730 !important;
}

.w-70 {
    width: 70%;
}

.ft-14 {
    font-size: 14px;
}
.cursor-pointer {
    cursor: pointer;
}
.float-left {
    float: left;
    margin-right: 5px;
}

.float-right {
    float: right;
    margin-left: 5px;
}

.divisor-20 {
    height: 20px;
}
.ocultar {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .ocultar-pc {
        display: none;
    }
}
@media only screen and (max-width: 991px) {
    .ocultar-movil {
        display: none;
    }
}
